/*# sourceMappingURL=index.css.map */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: auto;
}
header {
  background-color: #ffc107;
  text-align: center;
}
nav {
  background-color: rgba(59, 130, 246, 0.5);
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li,
a {
  color: white;
  font-size: 14px;
}
nav ul li:nth-child(2) a {
  color: #ffc107;
}
nav ul li:nth-child(2) i {
  color: #ffc107;
  font-size: 15px;
  margin-left: 6px;
}
nav ul li:nth-child(3) {
  position: relative;
}
nav ul li:nth-child(3) input {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
}
nav ul li:nth-child(3) i {
  position: absolute;
  font-size: 20px;
  right: 12px;
  color: black;
  line-height: 30px;
  cursor: pointer;
}

nav ul li:nth-child(4) button {
  height: 30px;
  padding: 0 12px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
}
nav ul li:nth-child(4) i {
  margin-right: 6px;
}
nav ul li:nth-child(4) button:hover {
  background-color: rgba(43, 100, 192, 0.5);
}

nav ul li:nth-child(5):hover a,
nav ul li:nth-child(7):hover a,
nav ul li:nth-child(8):hover a,
nav ul li:nth-child(9):hover a {
  color: rgba(43, 100, 192, 0.5);
}

.btn-content {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #ffc107;
  float: left;
  margin-right: 4px;
}
.btn-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: #ffc107;
  /* z-index: -1; */
  display: block;
  animation: btnani 2s linear infinite;
}
@keyframes btnani {
  from {
    opacity: 0.4;
  }
  to {
    transform: scale(3);
    opacity: 0;
  }
}
/* ----------------------Menu Bar */
.menu-bar {
  background-color: #fed100;
}
.menu-bar ul {
  display: flex;
  justify-content: space-between;
}
.menu-bar ul li a {
  color: black;
  font-size: 14px;
}
.menu-bar ul li a i {
  margin-right: 4px;
  font-size: 16px;
}
.menu-bar ul li {
  padding: 15px 6px;
  transition: all 0.3s;
}
.menu-bar ul li:hover {
  background-color: white;
}
.menu-bar ul li:nth-child(9) {
  position: relative;
}
.menu-bar ul li:nth-child(9)::before {
  position: absolute;
  content: "Giảm 5%";
  display: block;
  height: 15px;
  width: 45px;
  background-color: #f51212;
  border-radius: 5px;
  right: 0;
  top: 0;
  font-size: 10px;
  padding-left: 3px;
  color: white;
}
.menu-bar ul li:nth-child(9)::after {
  position: absolute;
  content: "";
  background-color: #f51212;
  height: 7px;
  width: 7px;
  display: block;
  top: 10px;
  right: 35px;
  z-index: 2;
  transform: rotate(45deg);
}
.product-name-container {
  min-width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-detail-container {
  padding: 10px;
}

/* ************** Slider product */
.slider-product-one-content {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}
.slider-product-one-content button {
  font-size: 25px;
  color: black;
  cursor: pointer;
  border: 1px solid #e5e7eb;
  background-color: #f3f4f6;
  border-radius: 10px;
  padding: 5px 10px;
}


/********************** Slider content*/
li {
  list-style: none;
}
.slider {
  padding: 20px 0;
  height: 350px;
}
.slider-content {
  display: flex;
  justify-content: space-between;
}
.slider-content-left {
  width: 65%;
}
.slider-content-left-top {
  width: 100%;
  height: 300px;
  position: relative;
}
.slider-content-left-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider-content-left-bottom {
  display: flex;
  justify-content: space-between;
  border: 2px solid #ddd;
  border-top: none;
  height: 50px;
}
.slider-content-left-bottom li {
  width: 20%;
  text-align: center;
  cursor: pointer;
  padding: 6px 0;
  height: 100%;
  line-height: 38px;
  position: relative;
}
.slider-content-left-bottom li::before {
  display: block;
  content: "";
  position: absolute;
  height: 70%;
  width: 1px;
  background-color: #ddd;
  right: 0;
}
.slider-content-left-bottom li.active {
  border-top: 4px solid #ffc107;
}
.slider-content-right {
  width: 35%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  /* justify-content: space-around; */
}
.slider-content-right li {
  width: 50%;
  height: 50%;
  text-align: center;
}
.slider-content-right img {
  height: 170px;
  width: 170px;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  cursor: pointer;
}
.slider-content-left-top-btn {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slider-content-left-top-btn i {
  color: #333;
  font-size: 40px;
  height: 50px;
  width: 25px;
  background-color: rgb(238, 228, 228);
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  border-radius: 5px;
  opacity: 0;
  transition: 0.3s;
}
/* .slider-content-left-top:hover i {
    opacity: 1;
    cursor: pointer;
} */

/* ************** slider */
.slider-content-left-top img {
  position: absolute;
}

.slider-content-left-top a:nth-child(2) img {
  transform: translateX(100%);
}
.slider-content-left-top a:nth-child(3) img {
  transform: translateX(200%);
}
.slider-content-left-top a:nth-child(4) img {
  transform: translateX(300%);
}
.slider-content-left-top a:nth-child(5) img {
  transform: translateX(400%);
}
.slider-content-left-top-container {
  position: relative;
  overflow: hidden;
}
.slider-content-left-top-container:hover i {
  opacity: 1;
  cursor: pointer;
}
.slider-content-left-top {
  transition: all 0.3s ease;
}

/* ******************Banner */
.banner-one {
  margin-top: 30px;
}
.banner-one .container img {
  width: 100%;
  margin: auto;
}

.slider-product-one-content-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
  padding: 20px;
  cursor: pointer;
}

.slider-product-one-content-item {
  width: calc(25% - 15px);
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: white;
}
.slider-product-one-content-item img {
  width: 100%;
  border-radius: 5px;
}

/* Định dạng cho sản phẩm khi trỏ chuột vào */
.slider-product-one-content-item:hover {
  transform: scale(1.05); /* Phóng to sản phẩm */
  transition: transform 0.2s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Đổ bóng sản phẩm */
}

/* footer */
footer {
  top: 30px;
  background-color: #fed100;
}
.footer__bottom {
  display: flex;
  padding: 30px 0;
  position: relative;
  /* top: 30px; */
}

.footer__item {
  width: 25%;
}

.footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}

.footer__item h3::before,
.footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
}

.footer__item h3::before {
  width: 15px;
}

.footer__item h3::after {
  width: 45px;
  left: 20px;
}

.footer__contact li {
  padding: 8px 0;
  display: flex;
  align-items: center;
}

.footer__contact i {
  height: 40px;
  width: 40px;
  line-height: 40px;
  margin-right: 10px;
  text-align: center;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
  border-radius: 50px;
}

.footer__item li {
  padding: 0.5rem 0;
}

.footer__item a {
  color: #636363;
  font-size: 16px;
  transition: all 0.5s;
}

.footer__item i {
  font-weight: 700;
  margin-right: 10px;
}

.footer__item a:hover {
  color: white;
}

.footer__copyright {
  background-color: #9dc0fa;
  padding: 10px 0;
  position: relative;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__left span {
  color: #f55f8d;
}

.footer__copyright a {
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50px;
  font-size: 14px;
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}

.footer__copyright a:hover {
  background: #f55f8d;
}

/* Laptop và PC responsive */
@media (min-width: 1024px) {
  nav ul li,
  a {
    font-size: 16px;
  }

  nav ul li:nth-child(2) i {
    font-size: 18px;
    margin-left: 8px;
  }

  .slider-product-one-content-item {
    width: calc(25% - 15px);
  }
}

/* Tablet reponsive */
@media (max-width: 1023px) {
  nav ul li,
  a {
    font-size: 14px;
  }

  nav ul li:nth-child(2) i {
    font-size: 15px;
    margin-left: 6px;
  }

  .slider-product-one-content-item {
    width: calc(33% - 15px);
  }
}

/* Mobile responsive */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  .slider-product-one-content-item {
    width: 100%;
    margin: 15px;
  }
}
